@model KT.Models.KTLoginModel

<header class="bold">
    Login to Kannada Talkies
</header>
<section class="sectionLeft borderRight">
    <fieldset>
        <ol>
            <li>
                Sign in with your KT account
            </li>
            <li>
                @Html.Label("Email")
                @Html.TextBox("txtEmail")
            </li>
            <li>
                @Html.Label("Password")
                @Html.TextBox("txtPassword")
            </li>
        </ol>
        <ol class="listHorizontal">
            <li class="alignLeft">
                <input class="ktButton color blue" type="button" value="Social SignIn ^" />
            </li>
            <li class="alignRight">
                <input class="ktButton color blue"type="button" value="Log In.." />
            </li>
        </ol>
    </fieldset>
</section>
<section class="sectionLeft borderLeft imageContainer">
    <img src="~/Images/Photos/Harish2.JPG" alt="Test Image" width="550" height="245" />
    <div class="sliderArrowRight"></div>
    <div class="sliderArrowLeft"></div>
</section>